#gallery-part{
    background:url(../images/gallary-background.png) no-repeat center;
    background-size: cover;
    margin-top: 70px;
   
    .overlay{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0,.7);
        padding: 30px 0;
        .img{
            margin: 10px 0;
            position: relative;
            img{
                width: 100%;
            }
            .overlay{
                width: 100%;
                height: 100%;
                background:rgba(226, 62, 56,.6);
                position:absolute;
                top:0;
                left: 0;
                transition: .4s;
                transform: scale(0);
                border:5px solid #bdbaaf;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 25px;
                }
            }
            &:hover .overlay{
                transform: scale(0.9);
            }
            &:hover .overlay i{
                color:#ffffff;
            }
        }
    }
}